*
    box-sizing: border-box

$main_color: #157698
$main_bg_color: #E1E3E5
$main_text_color: #666666
$footer_color: #4C4E50


.container
    width: 1000px
    margin: 0 auto

nav
    background: $main_color

a
    text-decoration: none

h1
    font-family: 'Roboto'
    font-weight: 900
    font-size: 40px
    color: $main_color
    span
        font-family: 'Roboto'
        font-weight: 300
        font-size: 40px
        color: #A9A9A9

h2
    margin-top: 1px
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 16px
    color: $main_color
    text-transform: uppercase

h3
    display: flex
    align-items: center

    font-family: 'Poppins'
    font-style: normal
    font-weight: 700
    font-size: 18px
    text-transform: uppercase
    color: $main_color
    &::before
        content: ""
        margin-right: 30px
        width: 8px
        height: 26px
        background: $main_color 

li
    margin-top: 5px   

.header_block
    display: flex
    &_photo
        display: flex
        align-items: flex-end
        flex-direction: row-reverse
        padding-left: 70px

        width: 340px
        height: 300px
        background: $footer_color
        &_sq
            display: flex
            align-items: flex-end
            flex-direction: row-reverse

            width: 260px
            height: 240px
            background: $main_color  
            &_avatar
    &_info
        padding: 70px 40px 0px 40px                   
        &_menu
            display: flex
            flex-wrap: wrap
            justify-content: space-evenly

            margin-top: 17px
            padding: 0
            &_point               
                padding: 7px

                list-style: none
                font-family: 'Roboto'
                font-style: normal
                font-weight: 500
                font-size: 24px
                text-transform: uppercase
                a
                    color: rgba(200, 200, 200, 1)
                    transition: 0.4s all
                    &:hover
                        color: #FFFFFF
                        

.split
    display: flex
    height: 40px
    &_sq
        margin-left: 70px
        width: 930px
        height: 40px
        background: $main_color

.main-block_container
    display: flex
    min-height: 740px
    height: 1px
    aside
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 340px
        height: 100%
        padding: 30px 25px 5px 70px

        .education
            &_list
                font-family: 'Roboto'
                font-style: normal
                font-weight: 400
                font-size: 14px
                line-height: 25px
                color: $main_text_color
                a
                    text-decoration: none
                    color: $main_color
        .skills
            &_list
                font-family: 'Roboto'
                font-style: normal
                font-weight: 400
                font-size: 14px
                line-height: 25px
                color: $main_text_color
        .contacts
            &_list
                padding-left: 14px

                font-family: 'Roboto'
                font-style: normal
                font-weight: 400
                font-size: 14px
                line-height: 25px
                color: $main_text_color
                list-style: none
                &_img
                    margin-right: 5px
                    width: 14px
                    height: 14px
                a
                    color: $main_color


    main
        width: 660px
        padding: 30px 40px 5px 0
        background: $main_bg_color
        .about_me
            p
                padding-left: 38px

                font-family: 'Roboto'
                font-style: normal
                font-weight: 400
                font-size: 14px
                line-height: 25px
                color: $main_text_color
        .experience
            &_list
                padding-left: 38px

                font-family: 'Roboto'
                font-style: normal
                font-weight: 400
                font-size: 14px
                line-height: 25px
                color: $main_text_color
                &_anchor
                    color: $main_text_color
                    
        .code
            &_bg
                width: 94%
                height: 340px
                padding-top: 10px
                margin-left: 38px
                margin-top: 10px
                background: $main_color 
                pre
                    color: rgba(200, 200, 200, 1)
                    transition: 0.4s all
                    &:hover
                        color: #FFFFFF
        .languages
            &_list
                padding-left: 38px

                font-family: 'Roboto'
                font-style: normal
                font-weight: 400
                font-size: 14px
                line-height: 25px
                color: $main_text_color

               
